<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quran Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StylePage.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>

    <header>
        <nav>
            <img src="{{ url_for('static', filename='img/quran.png') }}" alt="">
            <h1>Quran <span>Search</span></h1>
        </nav>
    </header>

    <div class="back">
        <div class="black"></div>
        <div class="img">
            <img src="{{ url_for('static', filename='img/pexels-ali-burhan-7261977.jpg') }}" alt="Image description">
        </div>


        <div class="container">
            <form id="Ayah-form" class="Ayah-form" method="POST" action="{{ url_for('predict') }}" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="group">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                    <input placeholder="Search" type="search" class="input" id="ayah-input" name="Ayah" placeholder="...الايه"   oninput="validateInput(event)" onkeypress="return event.keyCode != 13;  " class="search">
                    <input class="Ayah-submit" type="submit" value="ابحث" id="btn">
                </div>
            </form>
        </div>
        
    </div>
    <section class="table">

        
            <div class="mo">
                {% if error_message %}
                <p>{{ error_message }}</p>
            {% elif results %}
                    <table>
                        <tr>
                            <th>الايه</th>
                            <th>ترتيب الايه</th>
                            <th>السورة</th>
                        </tr>
                        <tbody id="info">
                            {% for result in results %}
                                <tr>
                                    <td>{{ result['ayah'] }}</td>
                                    <td>{{ result['ayah_num'] }}</td>
                                    <td>{{ result['surah_name'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
    </section>

    
</body>
</html>


